<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{$title}</title>
</head>
<body>
<section class="content">
    <div class="container">
        <h1>{$title}</h1>
        {$text}
        {$text}
        {$text}
        {$text}
       </div>


</section>


</body>
</html>