.header{
    background-color: #a3daf9;
    background-size: 100%;
    min-height: 100px;
}
.footer{
    background-color: #e0ffcc;
    background-image: url(../img/twig.png);
    background-size: 100%;
    min-height: 80px;
}
.logo{
    padding: 10px;
    text-align: center;
}
.phone{
    color: #fff;
    font-size: 14px;
}
.phone span{
    font-weight: bold;
}
.ololo{
    background:#337ab7;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: #cccccc;
    border-radius: 1px;
}
.content{
    background-color: #f7f7f7;
}
.content_text{
    border:1px solid #6abdf3;
    background-color:#fff;
    margin: 40px;
    padding: 20px;

}
.menu{
    margin-bottom: 0;
}
/*login*/
.content-login{

    padding-top: 50px;
    min-height: 500px;
}
.login_div{
    margin:20px;
}
.content-page{

    min-height: 300px;
}
/*page*/
.page_img{
    margin: 20px;
    padding: 10px;
    border: 1px solid #6ea9e0;
    width: 200px;
    height: 200px;
    background-color: #fff;
}
.page_img img{
    width: 180px;
    height: 180px;
}
.page_head{
    font-size: 20px;
}
.profile_button{
    margin-top: 20px;
}